<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" >
<body>
<h1>Coins</h1>
<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.isEmpty()}">
        <td colspan="2">No Products available</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.name}">Name</span></td>
        <td><span th:text="${product.price}">Price</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>