<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" >


<body>

<h1>Coins</h1>

<div> All exchangerates are updated every 5 minutes. Following Cryptos are listed:</div>

<div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coinData : ${allCoinData}">
        <td><span th:text="${coinData.name}"></span></td>
        <td><span th:text="${coinData.currentPrice}"></span></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>