<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" >
<body>
<h1>Welcome to CryptoStonks!</h1>
<p></p>
<p></p>
<p class="text-center">This website can be used for</p>
<p href="https://www.investopedia.com/terms/p/papertrade.asp" class="text-center">1. Papertrading</p>
<p class="text-center">2. monitoring your portfolios on different wallets</p>
<p class="text-center">3. testing out new portfolios</p>
<p class="text-center">4. assess for yourself if you belong to the profitable 10%</p>
<p class="text-center">And of course and most important</p>
<p class="text-center">5. To test your level of discipline</p>





</body>
</html>