<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>create Produkts</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" defer></script>
    <script src="#" th:src="@{/js/dynamic-form.js}" defer></script>
</head>
<body>
<h2>creat a Product</h2>
<div id="dynamic-from">
    <dynamic-from></dynamic-from>
</div>
</body>
</html>