<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Trades</title>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" defer></script>
    <script src="#" th:src="@{/javasript/vue2.js}" defer></script>
</head>
<body>
<h2>Create a trade</h2>
<div id="vue2">
    <vue2></vue2>
</div>
</body>
</html>
